/* font-family: 'Raleway', sans-serif; */
.navbar-index{
    position: relative;
    height: 25%;
}
.navbar-index .title-large-text{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    letter-spacing: 8px;
    color: white;
    font-weight: 300;
}
.navbar-index .navbar-inner{
    padding-top: 100px;
    position: relative;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.navbar-index .navbar-inner a{
    width: 8%;
}
.navbar-index .navbar-bg{
    background-color: #660099;
    /* padding: 30px 0 10px 0; */
    border-radius: 0 0 10px 10px;
    margin: auto;
}
.page-content{
    position: relative;
}
.cartas1-index, .cartas2-index{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 30%;
    margin: 8px auto;
}
.cartas1-index a, .cartas2-index a{
    width: 45%;
}
.card-index{
    margin: 10px;
    background-color: #660099;
    border-radius: 10px;
    height: 90%;
    box-shadow: 0px 8px 0px #cccccc
}
.card-index .card-content{
    display: block;
    align-items: center;
    margin: auto;
    text-align: center;
}
.card-index .card-content img{
    width: 40%;
}
.card-index .card-content h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 400;
    width: 80%;
    margin: 8px auto 0;
}



.navbar-principales-mt{
    position: relative;
    height: 25%;
}
.navbar-principales-mt .title-large-text{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 300;
}
.navbar-principales-mt .navbar-inner{
    padding-top: 30px;
    display: grid;
}
.navbar-principales-mt .navbar-inner .sliding{
    padding: 0px;
}
.navbar-principales-mt .navbar-inner a{
    width: 20%;
}
.navbar-principales-mt .navbar-inner a img{
    width: 40%;
}
.navbar-principales-mt .navbar-inner .titulo-tarjeta-mt{
    display: flex;
    justify-content: center;
}
.navbar-principales-mt .navbar-inner .titulo-tarjeta-mt img{
    width: 15%;
    margin-right: 20px;
}
.navbar-principales-mt .navbar-bg{
    background-color: #660099;
    border-radius: 0 0 10px 10px;
    margin: auto;
}

.definicion-que-es-mt{
    width: 100%;
}
.definicion-que-es-mt .card-que-mt{
    position: relative;
    z-index: -1;
    margin: 0px;
    padding: 5px 0px 5px;
    border-radius: 0 0 10px 10px;
    background-color: #cccccc;
}
.definicion-que-es-mt .card-content{
    width: 80%;
    margin: auto;
}
.definicion-que-es-mt .card-content h2{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: #660099;
    font-weight: 500;
    text-align: center;
}
.titulo-tipos-mt h3{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    color: #660099;
    font-weight: 400;
    text-align: center;
}
.cartas1-que-es-mt, .cartas2-que-es-mt{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
}
.cartas1-que-es-mt .card-tipo-mt .card-content{
    width: 80px;
    height: 90px;
}
.cartas2-que-es-mt .card-tipo-mt .card-content{
    width: 100px;
    height: 110px;
}
.card-tipo-mt .card-content{
    background-color: #ffcc33;
    border-radius: 10px;
    box-shadow: 0px 8px 0px #cccccc;
    padding: 10px;
}
.card-tipo-mt .card-content h4{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color: black;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}

.navbar-info-lp-mt{
    position: relative;
    height: 25%;
}
.navbar-info-lp-mt .navbar-inner{
    padding-top: 70px;
    display: grid;
    justify-content: center;
}
.navbar-info-lp-mt .navbar-inner h1{
    margin: 20px auto 0;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    letter-spacing: 8px;
    color: white;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
}
.navbar-info-lp-mt .navbar-bg{
    background-color: #660099;
    border-radius: 0 0 10px 10px;
    margin: auto;
    padding-top: 30px;
}
.lp-info-mt{
    padding-top: 50px;
}
.lp-info-mt a{
    margin: auto;
}
.lp-info-mt h2{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
}
.lp-info-mt a .card-content{
    width:290px;
    border-radius: 10px;
    box-shadow: 0px 8px 0px #cccccc;
    padding: 5px 20px;
}
.lp-info-mt .card-linea-purpura .card-content{
    background-color: #660099;
    color: white;
}
.lp-info-mt .card-ayuda-urg .card-content{
    background-color: #ffcc33;
    color: #660099;
}



.dialog{
    color: #660099;
}
.dialog-button{
    color: #660099;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.dialog-title{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.dialog-text{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0px 10px !important;
}

.navbar-principales-mt .navbar-inner .titulo-tarjeta-mt-lp{
    display: block;
    align-content: center;
    margin: auto;
}
.navbar-principales-mt .navbar-inner .titulo-tarjeta-mt-lp img{
    width: 30%;
    margin-top: 20px;
}

.que-es-linea-mt{
    position: relative;
    margin: 20px 0px;
    padding: 20px;
    background-color: #cccccc;
}
.que-es-linea-mt h2{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #660099;
    font-weight: 400;
    text-align: center;
}

.toolbar{
    position: relative;
    background-color: #660099 !important;
    margin: auto;
    padding: 35px;
    border-top-left-radius: 500px 200px;
    border-top-right-radius: 500px 200px;
}
.toolbar .toolbar-inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.toolbar .toolbar-inner .home{
    margin-top: -10px;
}
.toolbar .toolbar-inner a{
    margin-top: 18px;
    width:50px;
    height: 50px;
    padding: 0px !important;
}
.toolbar .toolbar-inner img{
    width:60% !important;
}
.toolbar .toolbar-inner .actual{
    background-color: #ffcc33;
    border-radius: 50%;
}